/*NAVBAR DESKTOP*/

.headerContainer {
    width: 100%; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 60px;
  }
  
  
  .navbar a {
    text-decoration: none;
  }
  
  .logo {
    height: 150px;
    transform: scale(1.5); 
    transform-origin: center; 
  }
  
  
  .icon{
    color: #10D678;
  }
  
  .icon-active {
    color: #FA6EB9; 
  }
  
  .activeLink {
    background: linear-gradient(90deg, #FFCFAA 10.79%, #FA6EB9 70.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 10px;
  }
  
  .link-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
  
  }
  
  .link-container .link {
    color: #10D678;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 10px;
  }
  
  .link-container .icon {
    color: #10D678;
  }
  
  
  
  
  
  
  
  
  /*RESPONSIVE*/
  
  .responsiveMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px; 
  }
  
  
  .burgerMenu {
    display: none; /* Par défaut, le burger menu est caché en mode desktop */
  }
  
  /* Style du menu responsive qui s'affiche en mode burger */
  .navResponsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignez les liens à gauche */
    background-color: #fff; /* Fond de votre choix pour le menu */
    position: absolute;
    top: 60px; /* La hauteur de votre en-tête */
    width: 100%; /* Le menu responsive prend toute la largeur */
  }
  
  
  /* Style de la barre de navigation quand elle est active en mode responsive */
  .navActive {
    display: none; /* Cachez la barre de navigation en mode responsive */
  }
  .logoResponsive{
    margin-right: 30px;
    display: none;
  }
  
  /* Media query pour le mode responsive */
  @media (max-width: 1200px) {
    .burgerMenu {
      background: linear-gradient(180deg, #312583 0%, #000 100%);
      border-radius: 50%; /* Rend le bouton circulaire */
      border: 1px solid #10D678; 
      width: 50px; /* Largeur du bouton */
      height: 50px; /* Hauteur du bouton */
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; /* Pour positionner absolument les lignes du menu à l'intérieur */
      background: linear-gradient(90deg, #844FFC 0%, #000 100%);
      box-shadow: 0px 20px 40px 0px #6042F4;
    }
    
    .burgerMenu:before, .burgerMenu:after {
      content: '';
      position: absolute;
      width: 30px; /* Largeur des lignes du menu */
      height: 1px; /* Hauteur des lignes du menu */
      background: #FA6EB9; /* Couleur des lignes du menu */
      transition: all 0.3s; /* Transition pour l'animation */
    }
    
    .burgerMenu:before {
      top: 18px; /* Position de la ligne du haut */
    }
   
    
    .burgerMenu:after {
      bottom: 18px; /* Position de la ligne du bas */
    }
    
  
  
    .navbar, .logo {
      display: none; /* Cachez la navbar et le logo de bureau en mode responsive */
    }
  
    .logoResponsive {
      display: block;
  
      margin: 0 auto; /* Centre l'image horizontalement */
  
      height: 150px;
      transform: scale(1.5);
      transform-origin: center; 
    }
  
    .containerLogo {
      padding-left: 30px; /* Ajoutez un padding gauche au conteneur */
    }
  
    .navActive {
      display: flex; /* Affichez la navbar quand elle est active en mode responsive */
    }
  }