/*NAVBAR DESKTOP*/

.headerContainer {
  width: 100%; 
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 60px;
}


.navbar a {
  text-decoration: none;
}

.logo {
  height: 150px;
  transform: scale(1.5); 
  transform-origin: center; 
}


.icon{
  color: #10D678;
}

.icon-active {
  color: #FA6EB9; 
}

.activeLink {
  background: linear-gradient(90deg, #FFCFAA 10.79%, #FA6EB9 70.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 10px;
}

.link-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;

}

.link-container .link {
  color: #10D678;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 10px;
}

.link-container .icon {
  color: #10D678;
}


/*RESPONSIVE*/