/* Styles communs à toutes les cartes */
.card {
  color: black;
  
}

/* Styles spécifiques pour les catégories */
.wordpressText {
  color: green; /* Texte vert pour la catégorie WordPress */
}

.notionText {
  color: blue; /* Texte bleu pour la catégorie Notion */
}

/* Ajoutez des classes similaires pour d'autres catégories si nécessaire */
